<div class="public-page-wrapper">

    <header>
        <h3 class="member-detail-name">
            {{ researchLine.title }} 
            <em class="research-line-desc" ng-if="researchLine.finished">– Finished <i class="fa fa-check-circle-o research-check"></i></em>
        </h3>
        <input class="form-control member-detail-search" ng-model="searchTxt" placeholder="Search" type="text">
    </header>

    <hr class="member-detail-sep">

    <main>
        <section class="item-common research-detail-section research-detail-desc">
            <img ng-if="researchLine.logo" class="research-line-logo"
                 ng-src="{{ researchLine.logo }}" alt="Logo" height="128">
            {{ researchLine.description }}
            <div class="clear"></div>
        </section>
       
        <section class="item-common research-detail-section" ng-hide="!publications.length">
            <h4 class="profile-section-title">Publications</h4>
            <div class="profile-section-content">
                <em ng-show="!filteredPublications.length">No results.</em>
                <ul>
                    <li ng-repeat="publication in (filteredPublications = (publications | orderBy : 'year' : true | filter : searchTxt))">
                        <a ui-sref="publication-detail({ title: publication.title })">{{ publication.title }}</a>,
                        {{ publication.year }}
                        (by <a ui-sref="member-detail({ id: publication.primary_author })">{{ publication.main_author }}</a><span ng-if="publication.secondary_authors" ng-repeat="author in publication.secondary_authors">,
                            <a ui-sref="member-detail({ id: author.id })">{{ author.first_name + ' ' + author.last_name }}</a></span>)
                    </li>
                </ul>
            </div>
        </section>

        <section class="item-common research-detail-section" ng-hide="!articles.length">
            <h4 class="profile-section-title">Articles</h4>
            <div class="profile-section-content">
                <em ng-show="!filteredArticles.length">No results.</em>
                <ul>
                    <li ng-repeat="article in (filteredArticles = (articles | filter : searchTxt))">
                        <a ng-href="{{ article.web | externalUrl }}" target="_blank">{{ article.title }}</a> on {{ article.date | dateMs }} 
                        (published in <span>{{ article.newspaper_name }}</span>)
                    </li>
                </ul>
            </div>
        </section>

        <section class="item-common research-detail-section" ng-hide="!financedProjects.length">
            <h4 class="profile-section-title">Financed projects</h4>
            <div class="profile-section-content">
                <em ng-show="!filteredFinancedProjects.length">No results.</em>
                <ul>
                    <li ng-repeat="financedProject in (filteredFinancedProjects = (financedProjects | orderBy : 'started' : true | filter : searchTxt))">
                        <a ui-sref="project-detail({ title: financedProject.title })">{{ financedProject.title }}</a>
                        {{ financedProject.dateRange }}
                    </li>
                </ul>
            </div>
        </section>

        <section class="item-common research-detail-section" ng-hide="!studentWorks.length">
            <h4 class="profile-section-title">Student works</h4>
            <div class="profile-section-content">
                <em ng-show="!filteredStudentWorks.length">No results.</em>
                <ul>
                    <li ng-repeat="studentWork in (filteredStudentWorks = (studentWorks | orderBy : 'year' : true | filter : searchTxt))">
                        <a ui-sref="student-work-detail({ title: studentWork.title })">{{ studentWork.title }}</a>,
                        {{ studentWork.year + ' at '  + studentWork.school }}
                        (by <a ui-sref="member-detail({ id: studentWork.author })">{{ studentWork.work_author }}</a>)
                    </li>
                </ul>
            </div>
        </section>

        <section class="item-common research-detail-section" ng-hide="!members.length">
            <h4 class="profile-section-title">Members involved</h4>
            <div class="profile-section-content">
                <em ng-show="!filteredMembers.length">No results.</em>
                <ul>
                    <li ng-repeat="member in (filteredMembers = (members | filter : searchTxt))">
                        <a ui-sref="member-detail({ id: member.id })">{{ member.last_name + (member.last_name && ', ') + member.first_name }}</a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="item-common research-detail-section" ng-hide="!partners.length">
            <h4 class="profile-section-title">Partners involved</h4>
            <div class="profile-section-content">
                <em ng-show="!filteredPartners.length">No results.</em>
                <ul class="partners-logo-list">
                    <li ng-repeat="partner in (filteredPartners = (partners | filter : searchTxt))">
                        <a ui-sref="partner-detail({ id: partner.id })"
                           title="{{ partner.name }}" class="partner-photo partner-logo"
                           style="{{ partner.logo ? 'background-image: url(' + partner.logo + ')' : '' }}"></a>
                    </li>
                </ul>
            </div>
        </section>

        <!--<section class="item-common research-detail-section" ng-hide="!researchLines.length">
            <h4 class="profile-section-title">Secondary research areas</h4>
            <div class="profile-section-content">
                <em ng-show="!filteredResearchLines.length">No results.</em>
                <ul>
                    <li ng-repeat="researchLine in (filteredResearchLines = (researchLines | filter : searchTxt))">
                        {{ researchLine.title + '. ' + researchLine.description }} <em class="publication-role">{{ researchLine.finished ? '– Finished': '' }}</em>
                    </li>
                </ul>
            </div>
        </section>-->
    </main>


</div>