<nav class="navbar navbar-inverse secondary-navbar secondary-navbar-appear">
    <div class="container-fluid top-navbar-inner">
        <div class="navbar-header">
            <button data-toggle="collapse" class="navbar-toggle collapsed" type="button"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control subnav-input" 
                           ng-model="publicationSearch.nameBox" placeholder="Search" title="Search by (almost) any field">
                </div>
            </form>

            <div class="v-sep"></div>

            <form class="navbar-form navbar-left">
                <select class="form-control subnav-input" ng-model="publicationSearch.criteria">
                    <option value="" disabled>Order by...</option>   
                    <option value="year">Year</option>
                    <option value="title">Title</option>
                    <option value="publication_type">Type</option>
                    <option value="author_name">Author</option>
                    <option value="country">Country</option>
                    <option value="publisher">Publisher</option>
                    <option value="language">Language</option>
                    <option value="institution">Institution</option>
                    <option value="organization">Organization</option>
                    <option value="school">School</option>
                </select>
            </form>

            <div class="v-sep"></div>
           
            <form class="navbar-form navbar-left">
                <select class="form-control subnav-input" ng-model="publicationSearch.reversedTmp">
                    <option value="" disabled>Order way...</option>   
                    <option value="true">Ascendant</option>
                    <option value="false">Descendant</option>
                </select>
            </form>

            <div class="v-sep"></div>
            
            <form class="navbar-form navbar-left">
                <div class="checkbox" ng-click="togglePublications()" title="Open or close all the publication boxes">
                    <label>
                        <input type="checkbox" ng-model="publicationSearch.toggleOn">
                        &nbsp;<span>Toggle all</span>
                    </label>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="public-page-wrapper">

    <p class="lead">{{ ::general.description }}</p>

    <header>
        <h3 class="member-page-title">Scientific publications</h3>
        <table class="stats stats-1">
            <tr><th>Total number</th><td>{{ filteredPublications.length }}</td></tr>
        </table>
    </header>
    
    <hr class="member-page-sep">

    <ul class="default-list project-list">
        <li class="list-group" 
            ng-repeat="pub in (filteredPublications = (publications | filter : publicationSearch.nameBox 
                                                                    | orderBy : publicationSearch.criteria : publicationSearch.reversed))">
            <span ng-class="{ 'project-list-item-open': pub.openBox }"
                     class="list-group-item project-list-item">
                <header ng-click="togglePublicationBox(pub.genuineIdx)" title="See details">
                    <h4 class="list-group-item-heading">{{ pub.title }}</h4>
                    <button role="presentation"><span class="glyphicon glyphicon-chevron-down"></span></button>
                </header>
                <section ng-show="pub.openBox">
                    <ul class="list-group-item-text">
                        <li ng-show="pub.journal"><b>Journal:</b> {{ pub.journal }}</li>
                        <li ng-show="pub.journal"><b>Editorial:</b> {{ pub.journal }}</li>
                        <li ng-show="pub.edition"><b>Edition:</b> {{ pub.edition }}</li>
                        <li ng-show="pub.publication_type"><b>Type:</b> {{ pub.publication_type }}</li>
                        <li ng-show="pub.primary_author"><b>Authors:</b> 
                            <a ui-sref="member-detail({ id: pub.primary_author })">{{ pub.author_name }}</a> (Primary)<span ng-if="pub.secondary_authors" ng-repeat="author in pub.secondary_authors">,
                            <a ui-sref="member-detail({ id: author.id })">{{ author.first_name + ' ' + author.last_name }}</a></span></li>
                        <li ng-show="pub.volume || pub.number || pub.pages">
                            <span ng-show="pub.volume"><b>Volume:</b> {{ pub.volume }}</span>
                            <span ng-show="pub.number"><b>Number:</b> {{ pub.number }}</span>
                            <span ng-show="pub.pages"><b>Pages:</b> {{ pub.pages }}</span>
                        </li>
                        <li ng-show="pub.series"><b>Series:</b> {{ pub.series }}</li>
                        <li ng-show="pub.isbn"><b>ISBN:</b> {{ pub.isbn }}</li>
                        <li ng-show="pub.issn"><b>ISSN:</b> {{ pub.issn }}</li>
                        <li ng-show="pub.city"><b>City:</b> {{ pub.city }}</li>
                        <li ng-show="pub.country"><b>Country:</b> {{ pub.country }}</li>
                        <li ng-show="pub.conference_name"><b>Conference name:</b> {{ pub.conference_name }}</li>
                        <li ng-show="pub.journal"><b>Impact factor:</b> {{ pub.journal }}</li>
                        <li ng-show="pub.publisher"><b>Publisher:</b> {{ pub.publisher }}</li>
                        <li ng-show="pub.chapter"><b>Chapter:</b> {{ pub.chapter }}</li>
                        <li ng-show="pub.year"><b>Year:</b> {{ pub.year }}</li>
                        <li ng-show="pub.language"><b>Language:</b> {{ pub.language }}</li>
                        <li ng-show="pub.nationality"><b>Nationality:</b> {{ pub.nationality }}</li>
                        <li ng-show="pub.institution"><b>Institution:</b> {{ pub.institution }}</li>
                        <li ng-show="pub.organization"><b>Organization:</b> {{ pub.organization }}</li>
                        <li ng-show="pub.school"><b>School:</b> {{ pub.school }}</li>
                    </ul>
                </section>
            </span>
        </li>
    </ul> 

</div>